<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>
<body>
    <table border="1" width="100%" cellpadding="10">
        <tr>
            <th>IMAGE</th>
            <th>DESCRIPTION</th>
            <th>VISIT LINK</th>
        </tr>

        <tr>
            <td colspan="3" align="center"><b>CARS</b></td>
        </tr>
        <tr>
            <td><img src="C:\Users\surya\Downloads\0cebe59825e292f678731fa92080c242.jpg" width="300" alt="Car"></td>
            <td>Rolls-Royce cars are renowned for their luxurious craftsmanship, elegant design, and ultra-smooth driving experience.
                 Each model is a symbol of prestige, combining cutting-edge technology with timeless sophistication.</td>
            <td><a href="https://example.com/car">Link</a></td>
        </tr>

        <tr>
            <td colspan="3" align="center"><b>WATCHES</b></td>
        </tr>
        <tr>
            <td><img src="C:\Users\surya\Downloads\rollex.jpg" width="300" alt="Watch"></td>
            <td>Rolex watches are iconic timepieces known for their precision, luxury, and enduring style. Crafted with exceptional materials, they symbolize status, innovation, and timeless elegance.</td>
            <td><a href="https://example.com/watch">Link</a></td>
        </tr>

        <tr>
            <td colspan="3" align="center"><b>SHOES</b></td>
        </tr>
        <tr>
            <td><img src="C:\Users\surya\Downloads\shoes.jpg" width="300" alt="Shoes"></td>
            <td>Sneaker shoes blend comfort, style, and versatility, making them perfect for both casual wear and sports. Loved by all ages, they’re a go-to choice for everyday fashion and active lifestyles. </td>
            <td><a href="https://example.com/shoes" >Link</a></td>
        </tr>
    </table>
    <br><hr><br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/FwOTs4UxQS4?si=xabo_1_JM2yCR-ka" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <h3>Sample Audio</h3>

    <audio controls>
        <source src="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3" type="audio/mpeg">

    </audio>

    <h3>Sample Video</h3>

    <video width="320" height="240" controls autoplay muted>
        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    </video>
    <br/>
</body>
</html>